@model  Product_specifications

<form method="post" asp-action="CreateSpecification"> 
   <div class="form-row">
     <input   name="ViewBag.ProId" hidden   />
    <div class="col">
      <input type="text" asp-for="specification.Name" name="Name" class="form-control" placeholder="Name">
    </div>
    <div class="col">
      <input type="text"asp-for="specification.Value" name="value" class="form-control" placeholder="Value">
    </div>
    <button type="submit" class="btn btn-primary">Add new Specification  </button>
    <button asp-action="Index" class="btn btn-success">Back to Home Product  </button>

  </div>
</form>

<div class="card">
            <div class="card-header">
               <h2>List of Specifications</h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1"  class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th >Name</th>
                  <th   >Descriptione</th>
              
                  <th width="30%"></th>
                </tr>
                </thead>
                <tbody>
                  @foreach ( var item in Model.specifications)
                    {
                     <tr>
                      <td >@item.Name</td>
                      <td >@item.Value</td>   
                      <td  >
                          <a asp-action="EditSpecification" class="btn btn-Primary " asp-route-id="@item.ProId" >Edit</a>
                          <a asp-action="DeleteSpecification" class="btn btn-danger"  asp-route-id="@item.ProId">Delete </a>
                      </td>
                    </tr>
                    }
            
            </tbody>
        </table>
            </div>
            <!-- /.card-body -->
          </div>